# FinanceHub.AuthConsent.Api Environment Variables Template
ConnectionStrings__DefaultConnection=Host=localhost;Database=financehub_authconsent;Username=postgres;Password=postgres
RabbitMQ__Host=localhost
RabbitMQ__Port=5672
RabbitMQ__Username=guest
RabbitMQ__Password=guest
